<aside class="navigation">
    <nav>
        <ul class="nav luna-nav">
            <li class="nav-category">
                Main
            </li>
            <li class="menu-dashboard">
                <a href="<%=routes.dashboard%>">Dashboard</a>
            </li>

            <li class="menu-posts">
                <a href="<%=routes.posts%>">Posts</a>
            </li>

            <!--
            <li class="nav-category">
                Category 2
            </li>

            <li class="menu-1">
                <a href="#extras" data-toggle="collapse" aria-expanded="false">
                    Active Menu <span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                </a>
                <ul id="extras" class="nav nav-second collapse show">
                    <li><a href="profile.html">SubMenu 1</a></li>
                    <li class="active"><a href="">Active SubMenu 2</a></li>
                </ul>
            </li>

            <li class="menu-2">
                <a href="#monitoring" data-toggle="collapse" aria-expanded="false">
                    Have SubMenu<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                </a>
                <ul id="monitoring" class="nav nav-second collapse">
                    <li><a href="#"> SubMenu 1</a></li>
                    <li><a href="#"> SubMenu 2</a></li>
                </ul>
            </li>

            <li class="menu-3">
                <a href="versions.html">
                    <span class="badge pull-right">2</span>
                    Versions
                </a>
            </li>
            -->
            <li class="nav-category">
                Setting
            </li>

            <li class="menu-users">
                <a href="#usersMenu" data-toggle="collapse" aria-expanded="false">
                    User<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                </a>
                <ul id="usersMenu" class="nav nav-second collapse">
                    <li class="menu-item-profile"><a href="<%=routes.users%><%=routes.profile%>"> Proflie</a></li>
                </ul>
            </li>

            <li class="menu-logout">
                <a href="<%=routes.logout%>">Logout</a>
            </li>

            <li class="nav-info">
                <i class="pe pe-7s-shield text-accent"></i>

                <div class="m-t-xs">
                    <span class="c-white">Menu Footer</span> <br>menu footer messages.
                </div>
            </li>

        </ul>
    </nav>
</aside>